<h1>あなたの注文履歴です</h1>

<% if @order_products.blank? %>
  <h2>注文履歴はありません</h2>
<% else %>

<% total_price = 0 %>
<ul class="users">
  <% @order_products.each do |order_product| %>
    <li>
      <% pic = Product.find(order_product.product_id) %>
      <img height="80" src="<%=h pic.picture %>"/>
      <%# debugger%>
      商品名:<%= Product.where(id:order_product.product_id).name %>
      商品価格:<%= order_product.price %>
      個数<%= order_product.quantity %>
      <% total_price += order_product.price*order_product.quantity %>
    </li>
  <% end %>
  <p>合計金額 : <%= total_price %>円</p>
  <p>ステータス : </p>
  
<% end %>
</ul>