<h1><%= @product.name%></h1>


<%= @product.price %>

<%= image_tag(@product.picture_url) if @product.picture.present? %>

<%= form_for(@product,url: add_item_path(product_id: @product.id)) do |f| %>
  <%= f.number_field :quantity, value: 1, class: 'form-control', min: 1 %>
  <%= f.hidden_field :product_id, value: @product.id %>
  <%= f.submit 'Add to Cart', class: 'btn btn-success' %>
<% end %>
      